.footer{
    width: 100%;
    background-color: #557174;
    color: #DAD3BE;
    float: center;
    padding-bottom: 5px;
}

.footer-links{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-inline: 8px;
    padding-block: 8px;
}

.footer li{
    padding-inline: 5px;
}

.insta{
    align-content: center;
}

.instagram{
    max-width: 20px;
    object-fit: fill;
}

.link{
    align-content: center;
}

.linkedIn{
    max-width: 20px;
    object-fit: fill;
}