.footer{
    width: 100%;
    background-color: #557174;
    color: #DAD3BE;
    float: center;
    padding-block: 8px;
    text-align: center;
    /*bottom: 0;*/
    /*position: absolute;*/
}

.footer-links{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-inline: 10px;
}

.footer li{
    display: inline-block;
    padding-inline: 5px;
    border-right: 1px solid #DAD3BE;
}

.footer li a{
    display: inline-block;
}

.footer li:last-child{
    border-right: none;
}

.insta{
    align-content: center;
}

.instagram{
    max-width: 20px;
    object-fit: fill;
}

.link{
    align-content: center;
}

.linkedIn{
    max-width: 20px;
    object-fit: fill;
}