.nav-links{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background: #557174;
}

.logo{
    padding-left: 10px;
    padding-right: 25%;
}

li {
    float: left;
}

li a {
    display: inline-block;
    padding-inline: 8px;
    padding-block: 15px;
    color: #F7F7E8;
}

li a:hover:not(.active) {
    background-color: #9DAD7F;
}

.active {
    background-color: #000000;
}



/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #557174;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #F7F7E8;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #9DAD7F;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
